@font-face {
  font-family: 'Katibeh';
}

@font-face {
  font-family: 'Raleway';
}

html {
  // min-size + (min-size - max-size) * ((100vw - min-width) / (max-width - min-width))
  font-size: calc(14px + 7 * ((100vw - 420px) / 860));
}

@media screen and (max-width: #{$lower-font-range}) {
  html {
    // min-size
    font-size: 14px;
  }
}

@media screen and (min-width: #{$upper-font-range}) {
  html {
    font-size: 21px;
  }
}

body {
  font-family: $body-font !important;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 400;
  line-height: 1.2;
  font-family: $heading-font;
}

h1 {
  font-size: $h1
}

h2 {
  font-size: $h2
}

h3 {
  font-size: $h3
}

p {
  font-size: $p;
  margin-bottom: 1.3em;
  line-height: 1.25;
}
